section .sign-in{
background-color: hsl(217, 28%, 15%);
box-shadow: 20px hsl(216, 53%, 9%);
padding: 2rem 3rem;
width: 50%;
margin: 0 auto;
gap: 2rem;
position: absolute;
left: 25%;
bottom: 75%;
}
section#Sign-in h1{
margin-bottom: 2rem;
}
section#Sign-in p{
    margin-bottom: 2rem;
    }
section#Sign-in form{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
} 
section#Sign-in form input{
    width: 60%;
    border-radius: 4rem;
    padding: 0 0 0 2rem;
}
section#Sign-in form button{
    padding: 1rem 2rem;
} 
section .footer__container{
    background-color: hsl(216, 53%, 9%);
    padding: 8rem 0 2rem;
}
section .footer__container .logo{
    display: flex;
    position: relative;
    left: 9rem
}
section .footer{
    display: flex;
    justify-content: center;
    gap: 6rem;
}
section .footer .location{
    display: flex;
    gap: 1rem;
    width: 30%;
    text-align: left;
}
section .footer .contact{
    display: flex;
    justify-items: center;
    gap: 1rem;
    margin-bottom: -1rem;
}
section .footer ul li{
    margin-bottom: 1rem;
}
section .footer .socials a{
    margin-right: 1rem;
}
@media screen and (max-width: 375px){
    section .sign-in{
    width: 90%;
    left: 5%;
    bottom: 85%;
    padding: 1rem 2rem;
    }
    section#Sign-in form{
        flex-direction: column;
        align-items: center;
    }
    section#Sign-in form input{
        padding: 1rem 4rem 1rem 2rem;
        width: 100%;
    }
    section#Sign-in form button{
        width: 100%;
    }
    section .footer{
        flex-direction: column;
        padding: 0 2rem;
        gap: 2rem;
        text-align: left;
    }
    section .footer__container .logo{
        margin-top: 5rem;
       left: 2rem;
    }
    section .footer .location{
        width: 100%;
    }
    section .footer .socials{
        text-align: center;
    } 
}